<form [formGroup]="courseform">
    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Placeholder" formControlName="description">
    </mat-form-field>
    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>category</mat-label>
        <mat-select formControlName="category">
            <mat-option value="BEGINNER">BEGINNER</mat-option>
            <mat-option value="ADVANCED">ADVANCED</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>releaseAt</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="releaseAt">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>longDescription</mat-label>
        <textarea matInput formControlName="longDescription"></textarea>
    </mat-form-field>
    <mat-card-actions class="d-flex justify-content-between">
        <button mat-raised-button type="button" color="warn">Close</button>
        <button mat-raised-button type="button" color="primary" (click)="savedata()"
            [disabled]="courseform.invalid">Save</button>
    </mat-card-actions>
</form>